{% extends "base.html" %}
{% load url from future %}
{% block title %}Urllists{% endblock %}
{% block pagetitle %}Urllists{% endblock %}
{% block content %}

<div id="urltabs">
    <div class="tabbable">
        <div class="tab-content">
            {% for device in devices %}
                {% include "snippets/device-tab.html" %}
            {% endfor %}
            {% include "snippets/tokens-tab.html" %}
        </div>
    </div>
</div>

<script>
    $("span.token").click(function(){
        $(this).text($(this).data("token"));
    });
    var currentUrlTab=0;
    var hashParameters = location.hash.substr(1).split("&");
    for(i=0;i<hashParameters.length;i++){
        var parts=hashParameters[i].split("_");
        if(parts.length==2 && parts[0] == "urltab"){
            currentUrlTab=parts[1];
            $("a[data-devicename="+currentUrlTab+"]").tab("show");
        }
    }
    $(".urltab").click(function(){window.location.hash = "urltab_" + $(this).attr("data-devicename")})
    $("form[action='{% url "sharedurllist.views.delete_url" %}'] input[type=submit]").each(function(i, e){
        $(e).hide();
        var button = $("<input type='button' class='btn' value='del'>").bind("click", function(){
            var form = $(e).parent();
            var action = form.attr("action");
            var data = {}
            form.find("input").each(function(idx, obj){
                form_field = $(obj);
                data[form_field.attr("name")] = form_field.val();
            })
            ajaxRequest = $.ajax(action, {
                "type": "post",
                "data": data,
                "success": function(){form.parent().hide()}
            });
        });
        $(e).after(button)
    });
</script>
{% endblock %}
